body {
    margin: 0;
    font-family: Arial;
    background: #f5f7fa;
}

/* HEADER */
.header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* CONTAINER */
.container {
    padding: 20px;
    text-align: center;
}

/* FOOTER */
.footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}